    
    <h1 id='header'>Crypto News Scraper</h1>
    <div class='artcles-container'>

        {{#each articles}}
            <div class='article'>
                <h1 class='title'>{{title}}</h1>
                <p class='description'>{{description}}</p>
                <p class='url'><a href='{{url}}' target='_blank'>Link to the Article!</a></p>
                <h2 class='comments'>Comments</h2>
                    {{#each comments}}
                        <div class='comment-box'>
                            <p>{{this}}</p> 
                            <button class='delete-button'> - </button>
                        </div>
                    {{/each}}
                
                <div class='form-box'>
                    <form action='/api/addComment' method='POST' >
                        <p>Add a Comment</p>
                        <textarea name='comment'></textarea>
                        <input type='hidden' value={{id}} name='id' class='input-field'/>
                        <button type='submit' form='add'>Post Comment</button>
                    </form>
                </div>

                
            </div>
        {{/each}}
    </div>